<h1>Thanks!</h1>
<br>
<h4>Your pledge has been processed and is now visible in the "my pledges" tab.  We will send you a text reminder on the day we expect you to deliver the item!</h4>


<li class = "btn btn-primary"><%= link_to "back to search"%></li>