<%= render 'layouts/header' %>

<h1>Thanks!</h1>
<br>
<h5 style = "margin-top:30px; margin-bottom:100px;">Your pledge has been processed and is now visible in the "my pledges" tab.  We will send you a text reminder on the day we expect you to deliver the item!</h5>


<%= link_to "Back to Search", '/organizations'%>