/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


/**
 *  Menu Styling
 *
 *  This following styling is the basic styling
 *  for a horizontal menu bar.
 */
#menu1{
	position: fixed;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

.home_link  {
	font-size: 22px;
	color: rgb(0, 179, 179);

	margin-left: 2%;
	width: 50%;
	text-align: left;
	vertical-align: center;
	float: left;
	position:absolute;
	left:0px;
	top:0px;

}

.menu a:link, a:visited {
    height: 50px;
    padding-bottom:10px;
    display: table-cell;
    vertical-align: bottom;
    color:black;
    text-align: left;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    text-decoration: none;
}

@keyframes menu {
    from {color: black;}
    to {color: rgb(0, 179, 179);}
}

.menu a:hover, a:active {
	animation-name: menu;
  	animation-duration: 0.5s;
  	color: rgb(0, 179, 179);
}


ul {
	top: 0;
	left: 0;
	width: 100%;
	font-size: 17px;
	z-index: 10;
	position: absolute;
	display: inline-block;
	background-color:transparent;

	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

.menu li {
	font-family: 'Open Sans';
	font-weight: lighter;
	width: 8%;
	float: right;
	white-space:nowrap;
}


