

.pledge-column{
	font-size: 12px;
	width: 20%;
}

.edit-column{
	font-size: 6px;
}

.pledge-num_column input {
	width: 60px;
}

tr.trash img {
	visibility: hidden;
}

tr.trash:hover img {
	visibility: visible;
}


